body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1c9230,#0e9920 , #59ffa4);
    height: 100vh;
}

button{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	padding: 0.7em 2em;
	border: 3px solid rgb(76, 206, 50);
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0,0,0, 0.1);
	color: rgb(76, 206, 50);;
	text-decoration: none;
	transition: 0.3s ease all;
	z-index: 1;
}

button:before{
	transition: 0.5s ease all;
	position: absolute;
	top: 0;
	left:50%;
	right:50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgb(76, 206, 50);;
	z-index: -1;
}

button:hover, button:focus{
	color: rgb(73, 73, 73);
}

button:hover:before, button:focus::before{
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

button:active{
	transition: scale(0.9);
}

.img{
    width: 2000px;
    height: 400px;
    background-color: #1cce3a;
    border-radius: 500%;
    position: absolute;
    top: -15pc;
    z-index: -999;
}